Package: stdf-viewer
Version: 4.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: 
Maintainer: Noon Chen <chennoon233@foxmail.com>
Installed-Size: 250000
Description: A free, fast and powerful GUI tool to visualize STDF (semiconductor Standard Test Data Format) data files.
